@tailwind base;
@tailwind components;
@tailwind utilities;

/* sunset-glow */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71% 2%;
    --card: 214 32% 96%;
    --card-foreground: 224 71% 2%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 2%;
    --primary: 28 90% 55%;   
    --primary-foreground: 0 0% 100%;
    --secondary: 275 80% 60%; 
    --secondary-foreground: 0 0% 100%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 46%;
    --accent: 28 90% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 28 90% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71% 2%;
    --foreground: 210 40% 98%;
    --card: 224 71% 5%;
    --card-foreground: 210 40% 98%;
    --popover: 224 71% 2%;
    --popover-foreground: 210 40% 98%;
    --primary: 28 85% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 275 75% 65%;
    --secondary-foreground: 0 0% 100%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 28 85% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 224 71% 15%;
    --input: 217 33% 17%;
    --ring: 28 85% 60%;
  }
}

.text-link {
  @apply text-blue-500 visited:text-neutral-700;
}

@layer base {

  * {
    @apply border-border outline-none;
  }

  .swiper-pagination-bullet-active {
    filter: invert(100%) ;
  }

  body {
    @apply bg-background text-foreground;
  }
}